<div class="container mt-4">
  <div class="card">
    <div class="card-header">Lista de Tarefas</div>
    <div class="card-body">
      <div class="table-responsive-lg">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Título</th>
              <th>Descrição</th>
              <th style="width: 200px">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <th scope="row">{{ task.id }}</th>
              <td>{{ task.titulo }}</td>
              <td>{{ task.descricao }}</td>
              <th scope="row">
                <button
                  type="button"
                  data-toggle="modal"
                  data-target="#updateTask"
                  class="btn btn-success"
                  (click)="updateTask(task.id)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Atualizar"
                >
                  <i-feather name="edit" class="small"></i-feather>
                </button>
                <button
                  type="button"
                  class="btn btn-danger mx-2"
                  (click)="removeTask(task)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Remover"
                >
                  <i-feather name="trash-2" class="small"></i-feather>
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <h4>
        Existe um total de <strong>{{ totalRecords }}</strong> registro{{
          tasks?.length > 1 ? "s" : ""
        }}.
      </h4>
    </div>
  </div>
</div>
